.image-item {
	float: right;
	line-height: 50px;
}

.div-image {
	width: 80px;
	height: 80px;
}

.left-image {
	float: left;
	margin: 2px;
}

.header-div {
	padding-top: 20px;
	background-color: #000000;
	padding-bottom: 20px;
}

.menu-item {
	text-align: center;
}

.menu-link {
	color: #ffffff;
	font-size: 18px;
}

.menu-link:hover {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

.potato-description {
	display: inline;
}

.information-div {
	border: solid 1px;
	margin: 2px;
	padding: 3px;
}

.footer-div {
	text-align: center;
}

#carousel-example-generic {
	padding: 0px;
}